body {
  font-family: Arial, sans-serif;

  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

  /* Нові властивості для фонового зображення */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* Щоб фон не прокручувався */
  transition: background-image 0.5s ease-in-out;
}

.App {
  padding: 0px;
  width: 100%;
  max-width: 70vw;
  text-align: center;
  transition: background-image 1s ease-in-out;
  overflow: hidden;
  opacity: 0.95;
}

.App-header {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.809);
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10%;
}

.App-title {

  font-size: 3.5em;
  font-weight: bold;

  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);
  /* Додаємо наступні властивості для переносу тексту */
  white-space: normal;
  /* Додаємо мінімальну висоту, щоб вміщати 2 рядки */
  min-height: 50px;
  /* Встановлюємо градієнт як фон тексту */
  background: linear-gradient(90deg,
      #4a90e2,
      /* синій */
      #8e44ad,
      /* фіолетовий */
      #ff6b6b,
      /* червоний */
      #feca57,
      /* помаранчевий */
      #21f3b4,
      #f2038e);

  /* Налаштування, щоб градієнт рухався */
  background-size: 50% 200%;

  /* Застосовуємо градієнт тільки до тексту */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Запускаємо анімацію */
  animation: gradient-animation 10s infinite;
}

/* Визначаємо анімацію */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.correct-answer-bg {
  animation: correct-bg 1s forwards;
}

.incorrect-answer-bg {
  animation: incorrect-bg 1s forwards;
}

@keyframes correct-bg {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: #28a745;
  }

  /* Зелений */
  100% {
    background-color: transparent;
  }
}

@keyframes incorrect-bg {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: #dc3545;
  }

  /* Червоний */
  100% {
    background-color: transparent;
  }
}

.date-time-display {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.1em;
  color: #152104;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8px 12px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.quiz-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.question-counter {
  width: 100vw;
  font-size: 1.1em;
  color: #152104;
  background-color: rgba(177, 243, 127, 0.7);
  padding: 8px 12px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.timer {
  width: 30%;
  font-size: 1.1em;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8px 12px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  color: #171717;
}

.red-text {
  color: #d0021b;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.question-container {
  background-color: #e6f7ff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.question-container h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Додаємо наступні властивості для переносу тексту */
  white-space: normal;
  /* Додаємо мінімальну висоту, щоб вміщати 2 рядки */
  min-height: 50px;
  /* Це значення можна змінити за необхідності */
}

.error-message {
  /* Позиціонування та розмір */
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;

  /* Типографія */
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;

  /* Оформлення */
  color: #dc3545;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 10px;

  /* Поведінка */
  box-sizing: border-box;
  z-index: 100;

  /* Анімація зникнення */
  animation: fade-out-animation 8s forwards;
}

/* Визначаємо ключові кадри анімації */
@keyframes fade-out-animation {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    /* В кінці анімації прозорість 0% */
    visibility: hidden;
    /* Приховуємо елемент, щоб він не заважав */
  }
}

.options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.option-button {
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  border: 1px solid #ccc;
  padding: 15px 25px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  white-space: normal;
  text-align: center;
}

.option-button:hover {
  background-color: #4a90e2;
  color: #fff;
  transform: translateY(-2px);
}

.name-input {
  padding: 17px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.name-input.input-error {
  border: 2px solid #dc3545;
}

.info-message {
  /* Позиціонування та розмір */
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;

  /* Типографія */
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;

  /* Оформлення */
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 10px;

  /* Поведінка */
  box-sizing: border-box;
  z-index: 100;
}

.mute-button {
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  z-index: 100;
}

.mute-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.restart-button {
  background-color: #28b57c;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.restart-button:hover {
  background-color: #00796b;
  transform: translateY(-2px);
}

.results-container {
  padding: 20px;
  background-color: #f0fff0;
  border-radius: 8px;
  animation: fadeIn 1s;
}


.results-container p {
  font-size: 1.5em;
  font-weight: bold;
}

.result-text {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 2rem;
}

.excellent {
  color: #28a745;
  /* Зелений колір */
}

.good {
  color: #007bff;
  /* Синій колір */
}

.satisfactory {
  color: #ffc107;
  /* Жовтий колір */
}

.poor {
  color: #dc3545;
  /* Червоний колір */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.start-container {
  padding: 40px;
  background-color: #e0f7fa;
  border-radius: 10px;
  position: relative;
}

.start-container h2 {
  color: #00796b;
  font-size: 2em;
  margin-bottom: 30px;
}

.start-button {
  background-color: #009688;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.start-button:hover {
  background-color: #00796b;
  transform: translateY(-2px);
}

.score-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.score-table th,
.score-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  /* Центруємо текст для кращого вигляду */
}

/* Стиль для правильної відповіді (салют) */
.quiz-container.correct {
  animation: correct-feedback 1s forwards;
}

@keyframes correct-feedback {
  0% {
    background-color: #f0f0f0;
  }

  /* Початковий колір */
  50% {
    background-color: #d4edda;
    box-shadow: 0 0 20px #28a745;
  }

  /* Яскравий зелений */
  100% {
    background-color: #f0f0f0;
  }

  /* Повернення до початкового */
}


.quiz-container.incorrect {
  animation: incorrect-feedback 1s forwards;
}

.welcome-container {
  padding: 20px;
  background-color: #f0fff0;
  border-radius: 8px;
  animation: fadeIn 1s;
}

.welcome-message {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #8020ed;

}

.welcome-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.footer-text {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 0.9em;
  color: #152104;
  background-color: rgba(255, 255, 255, 0.607);
  padding: 8px 12px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes incorrect-feedback {
  0% {
    background-color: #f0f0f0;
  }

  /* Початковий колір */
  50% {
    background-color: #f8d7da;
    box-shadow: 0 0 20px #dc3545;
  }

  /* Сірий/червонуватий */
  100% {
    background-color: #f0f0f0;
  }

  /* Повернення до початкового */
}

.question-card-animated {
  transition: opacity 0.5s ease-in-out;

}

/* Анімація появи */
.fade-in {
  opacity: 1;
}

/* Анімація зникнення */
.fade-out {
  opacity: 0;
}

/*-------------------------------- history ------------------------------- */
.history-container {
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 40px auto;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.history-container h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
}

.history-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.history-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.table-wrapper {
  overflow-x: auto;
  width: 100%;
  /* Оновлено: встановлюємо максимальну висоту для контейнера таблиці */
  max-height: 50vh;
  /* Оновлено: додаємо вертикальну прокрутку, якщо вміст не поміщається */
  overflow-y: auto;

  border-radius: 8px;
  /* Додано для збереження заокруглених кутів */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  /* Додано тінь */
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #e9ecef;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
  font-size: 0.9em;
  /* Важливо: дозволяє прокручувати заголовки разом з таблицею */
  position: sticky;
  top: 0;
  z-index: 1;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.history-container p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}